.action-panel {
  width: 70%;
  @include mainAppBoxes();
  margin-left: 0px;
  padding: 10px;

  &__inner {
    margin: 5px;
    border-radius: 5px;
    height: calc(100% - 10px);
    background-color: $grey-inner;
    border: 1px dashed $sub-head-lGrey;
  }

  &__centered-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 41px;
    color: $ap-text;
  }
  &__hr{
    hr{
      margin: 0px;
    }
  }

  &__tag-customer{
    border-radius: 15px;
    background-color: $white;
    margin-bottom: 10px;
    hr{
      margin-top: 0px !important;
    }
    &__data-list-key{
      span,p{
        width: 50%;
      }
    }
    &__data-list{
      padding: 20px 40px;
      div{
        display: flex;
      }
      span{
        color: $sub-head-lGrey;
        display: inline-block;
        margin-bottom: 10px;
      }
      p{
        margin-bottom: 0px;
      }
      pre{
        white-space: pre-wrap;
        border-radius: 14px;
        border: 1px solid $action-cta-border;
        padding: 10px;

      }
    }
    &__head{
      padding: 20px;
      font: $title;
    }
    &__tags-list{
      margin: 20px;
      border: 1px solid $action-cta-border;
      border-radius: 15px;
      padding: 10px;
      .svg-inline--fa {
        margin-right: 5px;
      }
    }
  }
}

