.side-bar-panel{
    width: 30%;
    @include mainAppBoxes();
    position: relative;
    &__inactive-action{
        color: $ap-text;
    }
    &__header{
        padding: 22px;
        border-bottom: 1px solid $grey;
        color: $yellow;
        @include flex-center();
        font:$title;
        &__bolt{
            margin-right: 10px;
        }
        &__ellipsis{
            color: $sub-head-lGrey;
        }
    }
    &__addActions{
        padding: 22px;
        border-bottom: 1px solid $grey;
        color: $head-dGrey;
        @include flex-center();
        cursor: pointer;
        font: $title;
        &__chevron-left{
            margin-right: 10px;
        }
        &__popover{
            cursor: pointer;
            .svg-inline--fa {
                margin-right: 5px;
                width: 20px;
            }
        }
    }
    &__assActions-inactive{
        font-size: 10px !important;
    }
    &__assActions{
        color: $head-dGrey;
        padding: 22px;
        font: $title;
        &__sub-head{
            color: $sub-head-lGrey;
            font: $text;
            margin-bottom: 25px;
            font-weight: 300;
        }
        &__action-button{
            border: none;
            color: $action-cta;
            font: $title;
            background-color: transparent;
            width: 100%;
            padding: 20px;
            @include flex-center();
            &:hover{
                background-color: $action-cta-border;
            }
        }
        &__sel-buttons{
            justify-content: space-between;
            align-items: center;
            display: flex;
            border: none;
            color: $head-dGrey;
            width: 100%;
            padding: 20px;
            background-color: transparent;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0em;
            border-bottom: 1px solid $action-cta-border;
            &:hover{
                background-color: $action-cta-border;
            }
        }
    }
    &__action-area{
        padding: 22px;
        &__key-value{
            border-radius: 14px;
            border: 1px solid $action-cta-border;
            &__head{
                display: flex;
                color: $sub-head-lGrey;
                border-top: 1px solid $action-cta-border;
                .key-value{
                    padding: 14px;
                    margin-left: 10px;
                    margin-top: 0px;
                    border: none;
                    width: 40%;
                    padding: 0px !important;
                    border-right: 1px solid $action-cta-border;
                    &:focus-visible{
                        border-right: 1px solid $action-cta-border;
                    }
                }
                div{
                    padding: 5px 10px;
                    width: 43%;
                }
                .action{
                    width: 10%;
                    color: $action-cta;
                    cursor: pointer;
                    .svg-inline--fa{
                        margin-left: 5px;
                    }
                    .fa-trash{
                        color: $icon-grey;
                    }
                }
            }

        }
        &__req-head{
            margin-bottom: 20px;
            span{
                margin-bottom: 10px;
                font-weight: 600;
                color: $head-dGrey;
            }
            input{
                margin-top: 10px;
                padding: 15px !important;
                &:focus-visible{
                    outline: none !important;
                    border: none;
                }
            }
            .form-control ,.custom-select,select{
                margin-top: 10px;

                &:focus-visible{
                    outline: none !important;
                }
                border-radius: 14px;
                &:focus{
                    box-shadow: none !important;
                    border-color: #ced4da !important;

                }
            }
        }
    }
    &__input-container {
        position: relative;
        margin-bottom: 20px;
        color: $sub-head-lGrey;
        i {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    input[type="text"] {
        border-radius: 14px;
        padding: 15px 0px 15px 45px;
        border: 1px solid $action-cta-border;
        width: 100%;
        color: $head-dGrey;
        font-weight: 400;
        &:focus-visible{
            outline: $action-cta solid 1px;
        }
        
    }
    &__input-action{
        input[type="text"] {
            border-radius: 14px;
            padding: 10px 0px 10px 45px;
        }
    }
    &__tags-list{
        @include flex-center();
        background-color: $grey-inner;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 10px;
        .svg-inline--fa {
            margin-right: 5px;
        }
        &__trash{
            color: $head-dGrey;
            cursor: pointer;
        }
    }
    &__light-heading{
        color: $sub-head-lGrey;
        font-size: 0.9em;
        font-weight: 300;
        margin: 15px 0px;
    }
    &__bottom-buttoms{
        position: absolute;
        margin: 10px;
        bottom: 0px;
        width: 95%;
        @include flex-center();
        .btn{
            font-weight: 600;
            width: 150px;
            border-radius: 14px;
        }
    }
    &__add-actions{
        border-radius: 15px;
        border: 1px solid $action-cta-border;
        button:first-child {
            &:hover{
                border-top-right-radius:14px;
                border-top-left-radius:14px;
            }
        }
        button:last-child {
            &:hover{
                border-bottom-right-radius:14px;
                border-bottom-left-radius:14px;
            }
        }
    }
}