.side-bar-panel{
    width: 30%;
    @include mainAppBoxes();
    position: relative;
    &__header{
        padding: 22px;
        border-bottom: 1px solid $grey;
        color: $yellow;
        @include flex-center();
        font:$title;
        &__bolt{
            margin-right: 10px;
        }
        &__ellipsis{
            color: $sub-head-lGrey;
        }
    }
    &__addActions{
        padding: 22px;
        border-bottom: 1px solid $grey;
        color: $head-dGrey;
        cursor: pointer;
        font: $title;
        &__chevron-left{
            margin-right: 10px;
        }
    }
    &__assActions{
        color: $head-dGrey;
        padding: 22px;
        font: $title;
        &__sub-head{
            color: $sub-head-lGrey;
            font: $text;
            margin-bottom: 25px;
            font-weight: 300;
        }
        &__action-button{
            border: none;
            color: $action-cta;
            font: $title;
            background-color: transparent;
            width: 100%;
            padding: 20px;
            @include flex-center();
            &:hover{
                background-color: $action-cta-hover;
            }
        }
        &__sel-buttons{
            border: none;
            color: $head-dGrey;
            width: 100%;
            padding: 20px;
            background-color: transparent;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0em;
            border-bottom: 1px solid $action-cta-border;
            &:hover{
                background-color: $action-cta-hover;
            }
        }
    }
    &__action-area{
        padding: 22px;
        &__input-container {
            position: relative;
            margin-bottom: 20px;
            color: $sub-head-lGrey;
            i {
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        
        input[type="text"] {
            border-radius: 14px;
            padding: 15px 0px 15px 45px;
            border: 1px solid #E3E5E8;
            width: 100%;
            color: $head-dGrey;
            font-weight: 400;
            &:focus-visible{
                outline: $action-cta solid 1px;
            }
            
        }
    }
    &__light-heading{
        color: $sub-head-lGrey;
        font-size: 0.9em;
        font-weight: 300;
        margin: 15px 0px;
    }
    &__bottom-buttoms{
        position: absolute;
        margin: 10px;
        bottom: 0px;
        width: 95%;
        @include flex-center();
        .btn{
            font-weight: 600;
            width: 150px;
            border-radius: 14px;
        }
    }
    &__add-actions{
        border-radius: 15px;
        border: 1px solid $action-cta-border;
    }
}