.action-button{
    &__button-bar{
        display: flex;
        color: $head-dGrey;
        justify-content: space-between;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
        .svg-inline--fa{
            width: 20px;
        }
    }
}