// colors
$white: #ffffff;
$grey: #D8D8D8;
$grey-inner: #F9F9F9;
$grey-border: #9DA8B4;
$black: #060606;
$head-dGrey:#475461;
$sub-head-lGrey: #9DA8B4;
$action-cta: #0052FF;
$action-cta-hover: #E3E5E8;
$action-cta-border: #E3E5E8;
$ap-text: #C2CCD6;


//font
$title: bold 16px 'Poppins', 'sans-serif';
$text: 14px 'Poppins', 'sans-serif';